$breakpoints: (
    'screen-xs': 450px,
    'screen-sm': 740px,
    'screen-md': 980px,
    'screen-lg': 1100px,
    'screen-xl': 1300px
);

$font-regular: 'Montserrat', sans-serif;
$font-title: 'Raleway', sans-serif;

$text-regular: #666666;
$link-color: #363636;
$link-color_hover: #1c4994;
$border-color: #abb7b7;

$transition-time: 250ms;