$breakpoints: (
    'screen-xs': 450px,
    'screen-sm': 740px,
    'screen-md': 980px,
    'screen-lg': 1100px,
    'screen-xl': 1300px
);

$font-family: Georgia, Times, "Times New Roman", serif;

$bg-color: red;
$text-regular: white;
$text-title: white;
$link-color: white;