$breakpoints: (
    'screen-xs': 450px,
    'screen-sm': 740px,
    'screen-md': 980px,
    'screen-lg': 1100px,
    'screen-xl': 1300px
);

$c-linkedin: #007ab9;
$c-twitter: #55acee;
$c-facebook: #3b5999;
$c-vimeo: #1ab7ea;
$c-youtube: #cd201f;
$c-instagram: #e4405f;
$c-pinterest: #bd081c;
$c-strava: #fc4c02;
$c-zwiftpower: #469;
$c-lastfm: #b90000;
$c-mail: #00afbf;