@import url(https://fonts.googleapis.com/css?family=Oswald:400|Open+Sans:400,700);

body {
  background: #e8e8db url('../vcard/img/bg.jpg') top left repeat;
  color: #333;
  padding: 1em 1em 0;
  margin: 0;
  font-size: calc(20px + .25vw);
  text-align: center;
  
}

figure {
    margin: 0;
    padding: 0;
}

header {
    display: inline-block;
    transform: matrix(1, -0.10, 0, 1, 0, 0);
    
    figure.profile-pic {
        text-align: center;
        margin: 0;

        img {
            display: inline-block;
            width: 200px;
            height: auto;
            border-radius: 200px;
            mix-blend-mode: darken;
            opacity: 0.85;
            animation: reveal 1.5s ease-in -0.5s;
        }

    }
}


h1 {
    font-family: "Oswald", Sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: calc(3rem + 1.2vw);
    line-height: 1;
    text-shadow: 2px 2px #e3e3dc, 4px 4px #d5bcb6;
    margin: -70px 0 5px;
    animation: intro 1.25s -1s 1;
}

h2 {
    font-family: "Open Sans", Sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    margin: 1em 0 0;  
    position: relative;
    animation: intro 1.45s -1s 1;

    @include mappy-bp(screen-xs) {
        font-size: calc(0.8rem + 0.25vw);   
    }

    &:before, 
    &:after {
      content: " ";
      position: absolute;
      top: 4px;
      width: 20px;
      height: 4px;
      border-top: 2px solid #555;
    }

    &:before {
        margin: 5px 0 0 -30px;
    }

    &:after {
       margin: 5px 0 0 10px; 
    }

    a {
        text-decoration: none;
        color: #2980b9;
    }
}

h3 {
    font-family: "Open Sans", Sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;

    @include mappy-bp(screen-xs) {
        font-size: calc(1rem + 0.1vw); 
        letter-spacing: 1px;  
    }

}

ul.links {
    @include reset-list();
    margin: 1em 0 0;

    li {
        display: inline-block;
        margin: 0 0.25em;
        animation: reveal 2.75s ease-out -0.7s;

        &:nth-child(2) {
            animation-delay: -0.6s
        }

        &:nth-child(3) {
            animation-delay: -0.5s
        }

        &:nth-child(4) {
            animation-delay: -0.4s
        }

        &:nth-child(5) {
            animation-delay: -0.3s
        }

        &:nth-child(6) {
            animation-delay: -0.2s
        }

        &:nth-child(7) {
            animation-delay: -0.1s
        }


        &:nth-child(8) {
            animation-delay: 0s
        }
    }

    a {
        color: #333;
        text-decoration: none;

        i {
            @include transition-default();
            color: #333;
        }

        &:hover {

            .fa-linkedin-in {
                color: $c-linkedin;
            }

            .fa-github {
                color: black;
            }

            .fa-strava {
                color: $c-strava;
            }

            .fa-bolt {
                color: $c-zwiftpower;
            }

            .fa-instagram {
                color: $c-instagram;
            }

            .fa-lastfm {
                color: $c-lastfm;
            }

            .fa-envelope {
                color: $c-mail;
            }
        }
    }
}

    
    .job-information {
        margin: 4em 0 0;

        h3 {
            animation: reveal 2.75s ease-out -0.2s;
        }

        ul {
            @include reset-list();
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                width: 50%;
                max-width: 150px;
                margin: 0 1em;

                &:nth-child(1) {
                    animation: reveal 2.75s ease-out -0.1s;
                }

                &:nth-child(2) {
                    animation: reveal 2.75s ease-out 0s;
                }
            }

            img {
                @include transition-default();
                filter: grayscale(100%);
                mix-blend-mode: multiply;
                opacity: 0.85;
                display: block;
                max-height: 120px;
                width: auto;

                &:hover {
                    filter: grayscale(0%);
                    opacity: 1;
                    mix-blend-mode: normal;
                }
            }
        }
    }
